services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
    depends_on:
      db:
        condition: service_healthy
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
     - "5173:5173"
    volumes:
     - ./frontend:/app
     - /app/node_modules
    depends_on:
      - backend